<div id="ranking">
  <table id="standings" class="table-bordered table-striped">
    <thead>
    <tr class="header">
      <th class="stats">Place</th>
      <th class="stats">Score</th>
      <th class="stats">1st</th>
      <th class="stats">2nd</th>
      <th class="stats">3rd</th>
      <th class="stats">4th</th>
      <th class="stats">Matches</th>
      <th class="robot">Robot</th>
      <th class="constructor">Constructor</th>
    </tr>
    </thead>
    <% @scores.each_with_index do |entry,index| %>
        <tr class="entry">
          <td><%= index + 1 %></td>
          <td><%= entry[:score] %></td>
          <td><%= entry[:first] %></td>
          <td><%= entry[:second] %></td>
          <td><%= entry[:third] %></td>
          <td><%= entry[:fourth] %></td>
          <td><%= entry[:matches] %></td>
          <td><%= entry[:robot_name] %></td>
          <td>
            <%= image_tag(entry[:avatar_url]) %>
            <div class="robot-owner">
              <%= entry[:constructor] %>
            </div>
          </td>
        </tr>
    <% end %>
  </table>
</div>
