<script type="text/javascript" src="/jsrobowar/js/third-party/raphael-1.4.3.min.js"></script>
<script type="text/javascript" src="/jsrobowar/js/third-party/underscore-1.0.4.min.js"></script>
<script type="text/javascript" src="/jsrobowar/js/third-party/base.js"></script>
<script type="text/javascript" src="/jsrobowar/js/jsrobowar.js"></script>
<script type="text/javascript" src="/jsrobowar/js/gui.js"></script>

<script src="/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="/codemirror/codemirror.css">

<%= form_for(@robot, :html =>{ :class => 'robot'}) do |f| %>
  <% if @robot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@robot.errors.count, "error") %> prohibited this robot from being saved:</h2>

      <ul>
      <% @robot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :code, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :code %>
      </div>
    </div>
  </fieldset>

  <div id="game-container">

    <section id="play">

      <div id="game">
        <div id="arena"></div>
        <div>
          <div id="scoreboard"></div>
        </div>
      </div>

      <div class="clearfix"></div>
          <div id="controls">
            <button id="start">Battle</button>
            <button id="stop">Halt</button>
            <input type="checkbox" id="sound" autocomplete="off"/>
            Enable sound
          </div>

      <section id="editor">
        <hr/>
        <h2>Robot X</h2>
        <div id="errors"></div>
        <div id="editors"></div>
      </section>

      <fieldset id="choices">
        <legend>Load a robot to test against:</legend>
        <ol></ol>
      </fieldset>

    </section>

  </div>

  <div class="form-actions">
    <div class="btn-group">
      <%= f.submit "Save", :class => 'btn btn-primary' %>
      <%= link_to 'Back', robots_path, :class => 'btn' %>
    </div>
  </div>
<% end %>
<link type="text/css" href="/codemirror/theme/cobalt.css" rel="stylesheet" />
<link type="text/css" href="/codemirror/theme/elegant.css" rel="stylesheet" />
<link type="text/css" href="/codemirror/theme/monokai.css" rel="stylesheet" />
<link type="text/css" href="/codemirror/theme/neat.css" rel="stylesheet" />

<script type="text/javascript">
  var myTextArea = document.getElementById('robot_code');

  CodeMirror.defineMode("robotalk", function() {
      var registers = /^(bullet|chronon|collision|damage|doppler|energy|hellbore|kills|look|mine|missile|movex|movey|nuke|probe|radar|random|robots|scan|stunner|x|y|speedx|speedy|aim|range|fire)\'*/i;
    var keywords = /^(store|return|jump|abs|and|arccos|arcsin|arctan|call|chs|cos|cosine|dist|drop|dropall|dup|duplicate|ifeg|ife|ifg|if|jump|inton|intoff|max|min|mod|nop|not|or|return|roll|rti|setint|setparam|sin|sto|store|sqrt|swap|sync|tan|tangent|vstore|vrecall|xor|eor)/i
    var labels = /^(\w+):/
    return {
      token: function(stream) {
        if (found = stream.match(registers)) {
          return 'string'
        } else if (found = stream.match(/\d+/)) {
          return 'number';
        } else if (found = stream.match(keywords)) {
          return "keyword"
        } else if (found = stream.match(labels)) {
          return "link"
        } else {
         var char = stream.next();
        }
        // stream.skipToEnd();
      }
    };
  });

  var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
    lineNumbers: true,
    mode: 'robotalk',
    theme: 'neat'
  });
</script>
