<%= link_to 'New Robot', new_robot_path, :class => 'create btn btn-primary' %>
<h1>Your robots</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th class="actions">Actions</th>
  </tr>

  <% @robots.each do |robot| %>
      <tr>
        <td class="name <%= robot.ready? ? 'ready' : ''%>">
          <span class="<%= robot.ready? ? 'icon-ok' : ''%>">&nbsp;</span>
          <%= robot.name %>
        </td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_robot_path(robot), :class => 'btn' %>
            <% unless robot.ready? %>
              <%= link_to 'Activate', activate_robot_path(robot), :method => 'put', :remote => :true, :class => 'btn btn-success' %>
            <% end %>
            <%= link_to 'Destroy', robot, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>
          </div>
        </td>
      </tr>
  <% end %>
</table>