<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @robot.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @robot.name %>
</p>

<p>
  <b>Code:</b>
  <%= @robot.code %>
</p>


<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
