%h1 Robowars Tutorial

%h3 1. Język

%p RoboTalk jest językiem opartym na stosie.

= image_tag "/assets/tutorial/stack-of-books.jpg", :width => 200

%p Stos - struktura danych.

= image_tag "/assets/tutorial/stack.png", :width => 200

%p
  Operacje na stosie:
  %ul
    %li włóż (push), czyli wkładanie jednego elementu na wierzch
    %li zdejmij (pop), czyli zdejmowanie jednego elementu z wierzchu

%p Odwrotna notacja polska

= image_tag "/assets/tutorial/rpn.png"

%h3 2. Poruszanie się

= image_tag "/assets/tutorial/horizontal.png"

%pre
  :plain
    MoveLeft CALL
    Main JUMP

    Main:
        X 30 < MoveRight IF
        X 270 > MoveLeft IF
        Main JUMP

    MoveLeft:
        -5 SPEEDX' STORE
        RETURN

    MoveRight:
        5 SPEEDX' STORE
        RETURN

= image_tag "/assets/tutorial/diagonal.png"

%pre
  :plain
    MoveLeft CALL
    MoveUp CALL
    Main JUMP

    Main:
        X 30 < MoveRight IF
        X 270 > MoveLeft IF
        Y 30 < MoveDown IF
        Y 270 > MoveUp IF
        Main JUMP
    MoveLeft:
        -5 SPEEDX' STORE
        RETURN
    MoveRight:
        5 SPEEDX' STORE
        RETURN
    MoveUp:
        -5 SPEEDY' STORE
        RETURN
    MoveDown:
        5 SPEEDY' STORE
        RETURN

%h3 3. Strzelanie

Każdy robot na starcie ma do dyspozycji 150 punktów energii do wykorzystania na
strzelanie. Energia odnawia się — 2 punkty na jednostkę czasu (Chronon).

Poniżej przykład kodu, w którym robot nie zmienia swojego położenia, ale obraca
się. W przypadku wykrycia celu, robot wystrzeliwuje pocisk o sile 20 punktów obrażeń.

%pre
  :plain
    Main:
        range 0 > shoot if
        aim 5 + aim' store
        Main jump

    Shoot:
        20 fire' store
        return


%h3 4. Pętla

%p Jeżeli nie dodamy petli, program się wykona i zakończy. Dlatego musimy zbudować petlę, która będzie się cały czas wykonywała.

%h3 Przykład bez pętli:

%pre
  :plain
    5 aim + aim' store # obroc robota o 5 stopni
    koniec programu!

%h3 Przyklad:
%pre
  :plain
    Main:
      5 aim + aim' store # obroc robota o 5 stopni
      Main jump # skocz do Main:
      # Program tutaj nigdy nie dotrze


%h2 5. Ważne komendy

%h3 store

%p Store pozwala zapisac wartosc do rejestru

%h4 Przykład:

%pre
  :plain
    # ustaw speedx na 5
    5 speedx' store

%p Store patrzy na 2 elementy na górze stosu. Przedostatni to wartość, ostatni to rejestr który ma być zaktualizowany.

%h3 jump

%p Jump pozwala na przeskoczenie w inne miejsce w kodzie

%h4 Przykład:

%pre
  :plain
    # To jest nieskończona pętla
    Main:
      Something jump
    Something:
      Main jump

%p jump zczytuje nazwę z góry stosu i przeskakuje do miejsca oznaczonego tą nazwą. WAŻNE: jump nie wkłada adresu powrotnego na stos!!

%h3 call

%p Call pozwala na przeskoczenie w inne miejsce w kodzie

%h4 Przykład:

%pre
  :plain
    Main:
      Accelerate call
      Main jump
    AccelerateX:
      5 speedx + speedx' store
      return

%p
  call zczytuje nazwę z góry stosu i przeskakuje do miejsca oznaczonego tą nazwą.
  %b WAŻNE: call wkłada adres powrotny na stos!!
  To pozwala na wykorzystanie return

%h3 if

%p Podstawowy warunek. Skacze do oznaczonego miejsca w kodzie jeśli sprawdzana wartość wynosi 1.

%h4 Przykład:

%pre
  :plain
    # call shoot if range is greater than 0
    range 0 > shoot if

%p if ściąga dwa elementy ze stosu. Patrzy czy przedostatni wynosi 1. Jeżeli tak, skacze przy pomocy call na adres podany przez ostatni element na stosie.

%h3 ifg

%p Robi to samo co if, tylko zamiast call wykorzystuje jump, czyli nie zostawia nic na stosie.

%h3 ife

%p if-then-else.

%h4 Przykład:

%pre
  :plain
    # call shoot if range is greater than 0
    range 0 > Shoot LookForTargets if

%p if ściąga trzy elementy ze stosu. Patrzy czy trzeci wynosi 1.

%p Jeżeli tak, skacze przy pomocy call na adres podany przez ostatni element na stosie.
%p Jeżeli nie, skacze przy pomocy call na adres podany przez przedostatni element na stosie.

%h3 ifeg

%p Robi to samo co ife, tylko zamiast call wykorzystuje jump, czyli nie zostawia nic na stosie.

%h2 6. Gdzie szukać pomocy

%ul
  %li= link_to "Tutorial Paula Hansena z przykładowymi robotami", "http://www.stanford.edu/~pch/robowar/tutorial/Tutorial.html"
  %li= link_to "RoboWar instructions", "/docs/robowar_instructions.pdf"
